 /* Global css for tags and element types */
 body {
    background-image: url("images/prism.png");
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    overflow-x: hidden;
 }

form {
    margin: 1em;
}

ul {
    list-style-type: none;
}

.box-heading {
    text-align: center;
}

.search-label {
    margin: 0.5em;
}

.search-inputs {
    background-color:#a9adad;
    width: 50%;
    height: 2em;
    border-radius: 6px;
    border: 2px solid #15a9e4
    
}

 .submit-butt{
    margin: 0.5em;
    background-color: #8d9192;
    height: 2.2em;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 4px 1px #15a9e4;
}

.search-inputs::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

 /* React components */ 
.bigbox {
    display: grid;
    color: #000000;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-right: 1px solid #000000;
    border-radius: 12px; 
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px #15a9e4;
}

.sidebar-button {
    background-color: rgb(141, 141, 145);
    color: #000000;
    padding: 0.5em;
    border-radius:12px;
    border: 1px solid #6d6b6b;
    width: 85%;
    font-weight: bolder;
    box-shadow: 0 3px 5px 1px #15a9e4;
}

.weather-box {
    grid-column: 2 / 6;
    grid-row: 1 / 3;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px #15a9e4;
}

ul.weather-array li {
    display: inline-block;
    margin: 1em;
}

#temperature {
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

.crypto-box {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px #15a9e4;
}

.crypto-tbl-item {
    padding: 0 10px;
    font-weight: bolder;
}

.crypto-price {
    padding: 0 50px;
}

.logos {
    margin-top: 10px;
    margin-right: 10px;
}

.super-search-box {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    border-top: 1px solid #000000;
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px #15a9e4;
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 7px; 
    text-align: center;
    color: rgb(148, 149, 150);
}