 body {
    background-image: url("images/double-bubble-dark.png");
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
 }

.bigbox {
    display: grid;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-right: 1px solid #000000;
    border-radius: 12px; 
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px rgb(71, 70, 70);
}

.weather-box {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px rgb(71, 70, 70);
}

.crypto-box {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px rgb(71, 70, 70);
}

.super-search-box {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 12px; 
    border-top: 1px solid #000000;
    background-color: #8d9192;
    box-shadow: 0 3px 5px 1px rgb(71, 70, 70);
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 7px; 
    text-align: center;
    color: rgb(148, 149, 150);
}